*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    backdrop-filter: blur(4px);

}
form{
     margin-top: 3%;
    margin-left: 33%;
    /* border: 2px solid rgb(255, 249, 170); */
    border: 2px solid white;
    background-color: rgb(2, 43, 54);
    padding: 2em;
    margin-right: 32%; 
    color: white;
}

.foot2{
    background-color: white;
    color:black;
    height: 8em;
    margin-top: 8%;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
}
.foot2 a{
    margin-right: 1em;
}
/* password strength */
meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
  
    /* Applicable only to Firefox */
    background: none;
    background-color: white;
}
  
  meter::-webkit-meter-bar {
    background: none;
    background-color: white;
  }
  /* styling meter value
  /* Webkit based browsers */
    meter[value="1"]::-webkit-meter-optimum-value { background: red; }
    meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
    meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
    meter[value="4"]::-webkit-meter-optimum-value { background: green; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; } 