*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    backdrop-filter: blur(4px);

}
form{
     margin-top: 3%;
    margin-left: 33%;
    /* border: 2px solid rgb(255, 249, 170); */
    border: 2px solid white;
    background-color: rgb(2, 43, 54);
    padding: 2em;
    margin-right: 32%; 
    color: white;
}

.foot2{
    background-color: white;
    color:black;
    height: 8em;
    margin-top: 8%;
    margin-left: 0em;
    margin-right: 0em;
    text-align: center;
}
.foot2 a{
    margin-right: 1em;
}